.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 250px;
        align-self: center;
        background-color: var(--project-card-bg);
        border-radius: 20px;
    }

    a {
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

    a:hover {
        transform: scale(1.05);
    }
}

.projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

@media (width >= 800px) {
    .projectsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}

h3 {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.6;
}